# Dependencies
node_modules/

# Build outputs
dist/
build/
public/

# Database files
data/*.db
data/*.db-journal

# Environment variables & Logs
.env
*.log
npm-debug.log*

# IDE & OS
.DS_Store
.vscode/
.idea/
